body{
  background: #333 url('/images/rsrails2011.png') no-repeat;
  margin: 0 auto;
  padding: 0;
  color: #ddd;
  font-family: 'Maven Pro', serif;
  width: 980px;
  
}

ul#speakers{
  margin: 0;
  padding: 0;
}

ul#speakers li{
  float: left;
  list-style: none;
}
div.name{
  display:none;
}

a{
  color: rgba(42,116,187,0.8); 
  text-decoration: none;
}

a:hover{
  text-decoration: underline;
}

a:active{
  position: relative;
  top: 1px;
}