section#footer
  .box
    | This page was made with #{link_to 'slim', 'http://slim-lang.com/', :target => :_blank}, #{link_to 'less', 'http://lesscss.org', :target => :_blank} & #{link_to 'jQuery', 'http://jquery.com/', :target => :_blank} on top of #{link_to 'Ruby on Rails 3', 'http://rubyonrails.org/', :target => :_blank} hosted freely on an #{link_to 'Heroku', 'http://heroku.com', :target => :_blank} - #{link_to 'Bamboo', 'http://docs.heroku.com/bamboo', :target => :_blank} stack.