h1 RS on Rails 2011
p Ainda estamos finalizando o site... mas já sabemos o local e a data do evento: será no auditório da Facin, na <b>PUC/RS</b> e ocorrá no dia <b>13 de Agosto</b>. Este ano teremos duas trilhas e também um mini-curso de Rails no dia 12 para os mais nilbies.
p As duas trilhas já estão quase prontas, mas ainda temos alguns slots abertos. Portanto, se você quer apresentar uma palestra, <a href="mailto:maiz@softa.com.br">fale conosco</a>!
p Ah, e patrocinadores também são bem vindos!!!