.hidden
  - for file in Dir.glob("app/views/home/tips/*")
   - file = File.basename(file).scan(/_(\w+)/).first.first
   div[id=file]= render "home/tips/#{file}"



= render 'top'
= render 'menu'
= render 'about'
= render 'speakers'
/ = render 'speaker'
= render 'nilbies'
= render 'agenda'

= render 'sponsors'
= render 'footer'
.clear
