iframe[width="615" height="300" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com.br/maps?q=faculdade+de+inform%C3%A1rica+puc+rs&amp;hl=pt-BR&amp;sll=-14.239424,-53.186502&amp;sspn=48.026003,75.849609&amp;ie=UTF8&amp;view=map&amp;f=d&amp;daddr=Avenida+Bento+Gon%C3%A7alves+-+Porto+Alegre+-+Rio+Grande+do+Sul&amp;geocode=CeBroUTXcrGlFZ1NNf4dOybz_CEmp1BMHzz6xQ&amp;ll=-30.061155,-51.173829&amp;spn=0.006295,0.007274&amp;output=embed"]
small
  a[ href="http://maps.google.com.br/maps?q=faculdade+de+inform%C3%A1rica+puc+rs&amp;hl=pt-BR&amp;sll=-14.239424,-53.186502&amp;sspn=48.026003,75.849609&amp;ie=UTF8&amp;view=map&amp;f=d&amp;daddr=Avenida+Bento+Gon%C3%A7alves+-+Porto+Alegre+-+Rio+Grande+do+Sul&amp;geocode=CeBroUTXcrGlFZ1NNf4dOybz_CEmp1BMHzz6xQ&amp;ll=-30.061155,-51.173829&amp;spn=0.006295,0.007274&amp;source=embed" style="color:#0000FF;text-align:left" target="_blank"] Exibir mapa ampliado