<!DOCTYPE html>
<html>
<head>
  <title>RS on Rails</title>
  <%= stylesheet_link_tag 'index' %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
  <link  href="http://fonts.googleapis.com/css?family=Maven+Pro:400,500,700,900" rel="stylesheet" type="text/css" >

</head>
<body>

<%= yield %>

</body>
</html>
